:root {
    --bcg-clr: rgba(0, 0, 0, 0.921);
    --drk-clr: rgb(19, 15, 15);
    --brn-clr: rgb(33, 24, 20);
    --txt-clr: rgba(255, 255, 255, 0.87);
    --shdw-clr: 5px 5px 25px rgba(98, 92, 92, 0.2);
    --lighter-shdw: 5px 5px 25px rgba(115, 97, 97, 0.338);
    background: var(--bcg-clr);
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Light.woff2') format('woff2'),
        url('./fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


* {  margin: 0; padding: 0; }

html, body { height: 100%; }

body { overflow: hidden; display: flex; justify-content: center; align-items: center; 
    font-family: 'Open Sans'; color: var(--txt-clr); font-weight: bold; font-size: 1.5em;
}

.side-img {
    
    overflow: hidden;
    background-image: "https://en.wikipedia.org/wiki/File:Travis_Scott_-_Utopia.png";
}

.card {
    height: 40rem;
    width: 100%;
    object-fit: cover;
}

.main {
    display: flex;
    box-shadow: var(--lighter-shdw);
    height: 40rem;
    width: 100%;
}

label {
    display: block;
    font-size: 13px;
    color: rgb(166, 164, 164);
}

input { width: 16em; border-radius: 6px; border: none; }
input:hover { border: solid 2px rgb(70, 70, 218); }
input:invalid { border: solid 2px red; }
input:valid { border: solid 2px rgb(5, 201, 5); }

button:hover { cursor: pointer; background-color: rgb(103, 71, 71); }
button:active { top: 6px; }
button { width: 12em; height: 2.5em; font-weight: bold; font-size: 0.6em; color: var(--txt-clr); background-color: rgb(109, 49, 49);
border-radius: 6px; border: none; box-shadow: var(--shdw-clr);
}
.submit-btn { padding: 25px; display: flex; flex-direction: column; gap: 1.3em;}

a { text-decoration: none; color: rgb(109, 49, 49); }
a:hover { color: rgb(103, 71, 71); }
.submit-btn p:last-child { font-size: 16px; }

.form-side {
    background-color: var(--drk-clr);
    display: flex;
    flex-direction: column;
}

.act-frm {
    display: flex;
    gap: 2rem;
    padding: 20px;
    background-color: var(--brn-clr);
    height: 8em;
    box-shadow: var(--shdw-clr);
}

.frm-txt p::first-line { font-size: 26px; }
.frm-txt p { font-size: smaller; }

.frm-txt { padding: 1em; height: 200px; width: 55rem;}

.scnd-sec, .fst-sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20rem;
    height: 16rem;
}

